
$color-principal: #5265E1;
$color-secundario: #FA5959;
$color-terciario: #242946;
$color-terciario-op: #242946ec;
$color-gris-oscuro: #50505c;
$color-gris-texto: #8c8c94;
$color-gris-claro: #f7f7f7;


$theme-colors: (
  "primary": $color-principal,
  "secondary": $color-secundario,
  "terciary": $color-terciario
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


main {
overflow-x: hidden;
width: 100vw;
}

.espacio-cabecera {
    height: 150px;
}

@media screen and (max-width: 768px) {
    .espacio-cabecera {
        height: 100px;
    }
   
}

.pastilla-fondo {
    background-color: $color-principal;
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 120%;
    height: 80%;
    z-index: -1;
    border-radius: 100px 0 0 100px;
}

.pastilla-fondo-izquierda {
    background-color: $color-principal;
    position: absolute;
    bottom: 0;
    right: 32%;
    width: 200%;
    height: 80%;
    z-index: -1;
    border-radius: 0 100px 100px 0;
}
.fondo-blanco {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.altura-personalizada {
    min-height: 440px;
}
@media screen and (max-width: 600px) {
    .altura-personalizada {
        min-height: 70vw;
    }
    
}
.overflow-visible {
    overflow-x: visible !important; 
}
.ancho-cards {
    max-width: 900px;
}
.ancho-cards div {
    max-width: 300px;
    margin: 0 auto;
}


.ancho-personalizado {
    min-width: 232px !important;
   }

.espaciado-letras {
    letter-spacing: 8px;
  }

  .espaciado-letras-suave {
    letter-spacing: 3px;
  }
  
.bg-tertiary {
    background-color: $color-terciario;
}

.menu-blanco {
    color: #fff;
}

.menu-blanco:hover {
    color: $color-secundario;
}

.icono-rrss:hover {
    filter: invert(60%) sepia(60%) saturate(3924%) hue-rotate(326deg) brightness(101%) contrast(96%);
}

// modificando estilos de bootstrap

.navbar-toggler {
border: none;
padding: 0;
}

.navbar-collapse  {
    transition: width 0s ease;
  }

.navbar-toggler-icon {
    background-image: url("../images/icon-hamburger.svg");
    width: 1em;
    height: 1em;
}

.navbar-collapse .navbar-toggler-icon {
    background-image: url("../images/icon-close.svg");
}

.navbar-collapse .menu-blanco {
    border-color: #4c526c !important;
}

.navbar-collapse .btn-outline-light  {
    border-color: #ffffff;
    color: #ffffff;
}
.navbar-collapse .btn-outline-light:hover  {
    border-color: $color-secundario ;
    background-color:$color-secundario;
}

.nav-link:hover {
    color: $color-secundario;
}

.navbar-collapse {
    background-color: $color-terciario-op;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.btn {
    border-width: 2px;
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
  }

.btn-secondary {
    --bs-btn-color: #fff; 
  }

.btn-light {
    background-color: $color-gris-claro;                 
}

.btn-primary:hover {
  background-color: transparent;  
  color: $color-principal;                 
  border-color: $color-principal;           
}

.btn-secondary:hover {
    background-color: #fff;  
    color: $color-secundario;                 
    border-color: $color-secundario;           
}

.btn-light:hover {
    background-color: transparent;  
    color: $color-gris-oscuro;                 
    border-color: $color-gris-oscuro;           
  }

p {
    color: $color-gris-texto;
}

.carousel-indicators {
    position: static;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-top: none;
    flex-wrap: wrap;
}

.carousel-indicators [data-bs-target] {
    position: static;
    min-width: 30%;
    min-height: 20px;
    margin: 20px 0 0 0;
opacity: 1;
border-color: var(--bs-border-color);     
border-width: 1px;
border-top: none;
text-indent: 0;
padding-bottom: 22px;
}

@media screen and (min-width: 769px) {
    .carousel-indicators .active {
        border-color: $color-secundario;     
        border-width: 3px;  
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 768px) {
    .carousel-indicators div:first-of-type {
        padding-top: 20px;
        border-top: var(--bs-border-color) solid 1px;
    }
    .carousel-indicators [data-bs-target] {
        min-width: 100%;
    }
    .carousel-indicators .active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 60%;
        height: 3px;
        background-color: $color-secundario;
      }
}


.carousel-indicators div:hover {
    color: $color-secundario;
}


.card-body {
    padding-left: 0;
    padding-right: 0;

    a, p, h5 {
        margin-left: 1rem;
        margin: 1rem;
    }
}

.accordion-button:hover {
    color: $color-secundario;                 
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-btn-color);
    background-color: transparent;
}
.accordion-button:not(.collapsed):hover {
    color: $color-secundario;                 
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    background-image: url("../images/icon-arrow.svg");
    background-position: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/icon-arrow2.svg");

}
  
// pelea con los iconos, para colorear svg solucion con filter, esta pagina para buscar color es dios: https://codepen.io/sosuke/pen/Pjoqqp

// .accordion-button.collapsed::after {
    
//     filter: invert(40%) sepia(37%) saturate(1473%) hue-rotate(201deg) brightness(94%) contrast(96%);
// }
// .accordion-button:not(.collapsed)::after {
//     filter: invert(60%) sepia(60%) saturate(3924%) hue-rotate(326deg) brightness(101%) contrast(96%);
// }


.invalid-tooltip {
    width: 100%;
    margin-top: 0;
    background-color: $color-secundario;
    border-radius: 0 0 5px 5px;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: $color-secundario;
    border-width: 2px;
    border-radius: 5px 5px 0 0;
    background-image: url("../images/icon-error.svg");
}

.form-control {
    border-width: 2px;
}
